
button {
    background-color: $buttonColor;
    padding: 10px 25px 10px;
    border: none;
    text-transform: uppercase;
    
}
.aboutShort {
    background-color: $backgroundColor;
    padding-top: 100px;
    padding-bottom: 100px;
    
    h3 {
        padding-bottom: 10px;

    }
    p {
        padding-bottom: 10px;
        width: 70%;
    }

}

.blog1 {
    .wrapper {
        display: flex;
        .imgContainer {
            width: 50%;
            background-color: $redshade;
            padding-left: 500px;
            img {
                width: 500px;
                height: 300px;
                
            }
        }
        .textContainer {
            width: 50%;
        }
    }
}
.midNav {
    background-color: $backgroundColor;
}