// contact.html Styles

.contactHeader {
    background-image: url("../assets/contact-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 675px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    .h1Holder {
        padding-left: 200px;

        h1 {
            margin-bottom: -77px;

        }
    }
}

.contactContent {
    background-color: $backgroundColor;
    padding-top: 100px;
    padding-bottom: 100px;
    .wrapper {
        display: flex;
        .contactInfo {
            width: 25%;
            background-color: white;
            .socialMediaIcon {
                padding-top: 20px;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                padding-bottom: 20px;
                i {
                    padding-left: 25px;
                }
            }
            .contactDetails {
                list-style: none;
                padding-left: 20px;
                h6 {
                    padding-bottom: 20px;
                }
            }
        }
        .contactForm {
            width: 75%;
            padding-left: 25px;
        }
    }
}