footer {
    background-color: $blackColor;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    p {
        font-family: $secondaryFont;
        color: $backgroundColor;
        
    }
}