.topnav {
    background-color: $primaryColor;
    top: 0;
    height: 25px;
    padding-bottom: 75px;
    .wrapper {
        width: 40%;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                text-decoration: none;
                list-style: none;
                
                a:link {
                    color: black;
                }
                a:visited {
                    color: black;
                }
                a:hover {
                    color: $backgroundColor;
                }
                
            }
        }
    }
}