.topnav {
    background-color: $primaryColor;
    top: 0;
    height: 25px;
    padding-bottom: 75px;
    .wrapper {
        width: 40%;
        button {
            display: none;
            height: 25%;
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                text-decoration: none;
                list-style: none;
                
                
                a:link {
                    color: black;
                }
                a:visited {
                    color: black;
                }
                a:hover {
                    color: $backgroundColor;
                }
                
            }
        }
        
        .hamburgerMenu{
            display: none;
            
            li {
                padding-bottom: 10px;
                border: 1px;
                
            }
        }
    }
}
.show {
    display: block;
    animation-name: slide_out;
    animation-duration: 2s;
    background-color: $primaryColor;
}
@keyframes slide_out {
    0% {
        position: relative;
        left: -1000%;
    }

    100% {
        position: relative
        left 0;
    }
}