@font-face {
    font-family: "Lora";
    src: url(../fonts/lora-v25-cyrillic/lora-v25-cyrillic.ttf),
    url(../fonts/lora-v25-cyrillic/lora-v25-cyrillic.woff),
    url(../fonts/lora-v25-cyrillic/lora-v25-cyrillic.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto-v30-latin/roboto-v30-latin-regular.ttf),
        url(../fonts/roboto-v30-latin/roboto-v30-latin-regular.woff),
        url(../fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2);
    font-weight: normal;
}

.topnav {
    li {
        font-family: $secondaryFont;
        text-transform: uppercase;
        font-size: 20px;
          h1 {
            font-family: $primaryFont;
            font-size: 35px;
            font-weight: normal;
        }
    }
}

h1 {
    font-family: $primaryFont;
    font-size: 125px;
    
}

h3 {
    font-family: $secondaryFont;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    font-family: $secondaryFont;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h6 {
    font-family: $secondaryFont;
    font-size: 24px;
    letter-spacing: 1px;
}

button {
    font-family: $secondaryFont;
    font-weight: normal;
    font-size: 20px;
}
p {
    font-size: 20px;
    letter-spacing: 0;
    font-family: $secondaryFont;
    line-height: 32px;
}


.socialMediaIcon {
    i {
        font-size: 30px;
        color: $primaryColor;
    }
}
.blogContent {
    .blogRecent {
        a {
            font-family: $secondaryFont;
        }
        a:link, a:visited {
            color: $blackColor;
        }
        a:hover, a:active {
            color: $primaryColor
        }
    }
}