//Fonts
$primaryFont: "Lora";
$secondaryFont: "Roboto";

//Colors
$primaryColor: #F6A823;
$buttonColor: #05AFC1;
$backgroundColor: #F0EFED;
$redshade: #A82706;
$greyColor: #4F4F4F;
$blackColor: #2C2C2C;
$linkColor: #285E64;
