@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/lora-v25-cyrillic/lora-v25-cyrillic.ttf), url(../fonts/lora-v25-cyrillic/lora-v25-cyrillic.woff), url(../fonts/lora-v25-cyrillic/lora-v25-cyrillic.woff2);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto-v30-latin/roboto-v30-latin-regular.ttf), url(../fonts/roboto-v30-latin/roboto-v30-latin-regular.woff), url(../fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2);
  font-weight: normal;
}
.topnav li {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 20px;
}
.topnav li h1 {
  font-family: "Lora";
  font-size: 35px;
  font-weight: normal;
}

h1 {
  font-family: "Lora";
  font-size: 125px;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto";
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto";
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-family: "Roboto";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h5 {
  font-family: "Roboto";
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 100;
}

h6 {
  font-family: "Roboto";
  font-size: 24px;
  letter-spacing: 1px;
}

button {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 20px;
}

p {
  font-size: 20px;
  letter-spacing: 0;
  font-family: "Roboto";
  line-height: 32px;
}

address {
  font-size: 20px;
  letter-spacing: 0;
  font-family: "Roboto";
  line-height: 32px;
  font-style: normal;
}

.socialMediaIcon i {
  font-size: 30px;
  color: #F6A823;
}

.blogContent .blogRecent a {
  font-family: "Roboto";
}
.blogContent .blogRecent a:link, .blogContent .blogRecent a:visited {
  color: #2C2C2C;
}
.blogContent .blogRecent a:hover, .blogContent .blogRecent a:active {
  color: #F6A823;
}

.blogMain a {
  color: #285E64;
}

.reviewText h5 {
  font-weight: bold;
  color: #285E64;
  letter-spacing: 0;
}

button {
  background-color: #05AFC1;
  padding: 10px 25px 10px;
  border: none;
  text-transform: uppercase;
}

.buttonHolder {
  position: relative;
}
.buttonHolder .buttonTop {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutShort {
  background-color: #F0EFED;
  padding-top: 100px;
  padding-bottom: 100px;
}
.aboutShort h3 {
  padding-bottom: 10px;
}
.aboutShort p {
  padding-bottom: 10px;
  width: 80%;
}

.blog1 {
  margin-bottom: 50px;
  padding-top: 50px;
}
.blog1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog1 .wrapper .imgContainer {
  width: 50%;
  background-color: #A82706;
  padding-bottom: 2vh;
  padding-right: 1vh;
  margin-top: -1vh;
  /* img::before{
       content:"a";
       background-color: $redshade;
       width: 700px;
       height: 400px;
       position: absolute;
       z-index: -1;
   }*/
}
.blog1 .wrapper .imgContainer img {
  width: 500px;
  height: 300px;
  float: right;
  margin-top: -3vh;
}
.blog1 .wrapper .textContainer {
  width: 50%;
  padding-left: 50px;
}

.blog2 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog2 .wrapper .textContainer {
  width: 50%;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blog2 .wrapper .textContainer p {
  text-align: right;
}
.blog2 .wrapper .imgContainer {
  width: 50%;
  background-color: #F6A823;
  padding-bottom: 4vh;
  padding-right: 350px;
  margin-bottom: -2vh;
}
.blog2 .wrapper .imgContainer img {
  width: 500px;
  height: 300px;
  margin-top: -1vh;
  float: left;
  margin-bottom: -3vh;
  margin-left: -1vw;
}

.midNav {
  background-color: #F0EFED;
  padding-top: 100px;
  padding-bottom: 50px;
}
.midNav .midNavItems {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.midNav .midNavItems li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.midNav .midNavItems li i {
  border-radius: 50%;
  background-color: #F6A823;
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
}
.midNav .midNavItems li .midTextContainer {
  padding-left: 20px;
  width: 80%;
}
.midNav .midNavItems li .midTextContainer h4 {
  padding-bottom: 20px;
}
.midNav .midNavItems li .midTextContainer p {
  padding-bottom: 30px;
}

.midPicture {
  background-image: url(../assets/home-image-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.midAbout {
  background-color: #F0EFED;
  padding-top: 100px;
  padding-bottom: 100px;
}
.midAbout .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.midAbout .wrapper .imgContainer {
  width: 30%;
}
.midAbout .wrapper .imgContainer img {
  -webkit-box-shadow: 15px 15px #F6A823;
          box-shadow: 15px 15px #F6A823;
}
.midAbout .wrapper .textContainer {
  padding-left: 80px;
}
.midAbout .wrapper .textContainer h3, .midAbout .wrapper .textContainer p {
  padding-bottom: 20px;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.topnav {
  background-color: #F6A823;
  top: 0;
  height: 25px;
  padding-bottom: 75px;
}
.topnav .wrapper {
  width: 40%;
}
.topnav .wrapper button {
  display: none;
  height: 25%;
}
.topnav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topnav .wrapper ul li {
  text-decoration: none;
  list-style: none;
}
.topnav .wrapper ul li a:link {
  color: black;
}
.topnav .wrapper ul li a:visited {
  color: black;
}
.topnav .wrapper ul li a:hover {
  color: #F0EFED;
}
.topnav .wrapper .hamburgerMenu {
  display: none;
}
.topnav .wrapper .hamburgerMenu li {
  padding-bottom: 10px;
  border: 1px;
}

.show {
  display: block;
  -webkit-animation-name: slide_out;
          animation-name: slide_out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-color: #F6A823;
}

@-webkit-keyframes slide_out {
  0% {
    position: relative;
    left: -1000%;
  }
  100% {
    position: relative left 0;
  }
}

@keyframes slide_out {
  0% {
    position: relative;
    left: -1000%;
  }
  100% {
    position: relative left 0;
  }
}
.blogHeader {
  background-image: url("../assets/blog-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 675px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blogHeader .h1Holder {
  padding-left: 100px;
}
.blogHeader .h1Holder h1 {
  margin-bottom: -85px;
}

.blogContent {
  background-color: #F0EFED;
  background-size: cover;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.blogContent .blogLeft {
  width: 25%;
}
.blogContent .blogLeft .blogAbout {
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 25px;
}
.blogContent .blogLeft .blogAbout .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.blogContent .blogLeft .blogAbout .imgContainer img {
  height: 400px;
  width: 300px;
}
.blogContent .blogLeft .blogAbout h3 {
  padding-bottom: 15px;
}
.blogContent .blogLeft .blogAbout p {
  padding-bottom: 20px;
}
.blogContent .blogLeft .blogAbout a {
  color: #285E64;
  font-weight: bold;
}
.blogContent .blogLeft .blogRecent {
  background-color: white;
  padding-top: 25px;
  margin-top: 20px;
  padding-bottom: 25px;
}
.blogContent .blogLeft .blogRecent h3 {
  padding-bottom: 15px;
}
.blogContent .blogLeft .blogRecent .navRecent {
  padding-left: 50px;
  list-style: none;
}
.blogContent .blogLeft .blogRecent .navRecent li {
  padding-bottom: 5px;
}
.blogContent .blogLeft .blogRecent .navRecent li::before {
  content: "•";
  color: #F6A823;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.blogContent .blogRight {
  width: 60%;
}
.blogContent .blogRight .blogMain {
  background-color: white;
  border-bottom: 5px solid #F6A823;
  margin-bottom: 20px;
  padding-top: 35px;
  padding-bottom: 25px;
}
.blogContent .blogRight .blogMain h5 {
  padding-top: 25px;
  padding-bottom: 20px;
}
.blogContent .blogRight .blogMain p {
  padding-bottom: 15px;
}
.blogContent .blogRight .review1, .blogContent .blogRight .review2 {
  background-color: white;
  border-bottom: 5px solid #F6A823;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.blogContent .blogRight .review1 .wrapper, .blogContent .blogRight .review2 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
.blogContent .blogRight .review1 .wrapper .blogImgContainer, .blogContent .blogRight .review2 .wrapper .blogImgContainer {
  width: 20%;
}
.blogContent .blogRight .review1 .wrapper .blogImgContainer img, .blogContent .blogRight .review2 .wrapper .blogImgContainer img {
  height: 125px;
  width: 125px;
}
.blogContent .blogRight .review1 .wrapper .reviewText, .blogContent .blogRight .review2 .wrapper .reviewText {
  width: 80%;
}
.blogContent .blogRight .review1 .wrapper .reviewText h5, .blogContent .blogRight .review2 .wrapper .reviewText h5 {
  padding-bottom: 25px;
}
.blogContent .blogForm {
  padding-bottom: 100px;
}
.blogContent .blogForm .wrapper {
  width: 100%;
}

.contactHeader {
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 675px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactHeader .h1Holder {
  padding-left: 200px;
}
.contactHeader .h1Holder h1 {
  margin-bottom: -77px;
}

.contactContent {
  background-color: #F0EFED;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contactContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactContent .wrapper .contactInfo {
  width: 25%;
  background-color: white;
}
.contactContent .wrapper .contactInfo .socialMediaIcon {
  padding-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 20px;
}
.contactContent .wrapper .contactInfo .socialMediaIcon i {
  padding-left: 25px;
}
.contactContent .wrapper .contactInfo .contactDetails {
  list-style: none;
  padding-left: 20px;
}
.contactContent .wrapper .contactInfo .contactDetails h6 {
  padding-bottom: 20px;
}
.contactContent .wrapper .contactForm {
  width: 75%;
  padding-left: 25px;
}

header {
  background-color: #F6A823;
  padding-top: 100px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*.headerLeft {
      h1 {
          display: flex;
          justify-content: center;

      }*/
}
header .wrapper h1::before {
  content: url("../assets/circle-text.png");
  position: relative;
  left: 15%;
}
header .headerImgContainer {
  margin-right: 100px;
  margin-bottom: -2vw;
}
header .headerImgContainer img {
  width: 450px;
  height: 600px;
  -webkit-box-shadow: 10px 10px #ffffff;
          box-shadow: 10px 10px #ffffff;
}

.blogForm .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.blogForm .userInfo input[type=text], .blogForm .userInfo select {
  width: 98%;
  padding: 15px 15px 20px;
  border: none;
  font-style: italic;
}
.blogForm .userInfo #formEmail {
  margin-left: 10px;
}
.blogForm .userInput {
  margin-bottom: 10px;
}
.blogForm .userInput input[type=text], .blogForm .userInput select {
  width: 100%;
  height: 200px;
  border: none;
  font-style: italic;
  padding-left: 15px;
  padding-bottom: 150px;
}
.blogForm input[type=submit], .blogForm select {
  border: none;
  background-color: #05AFC1;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contactForm .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.contactForm .userInfo input[type=text],
.contactForm .userInfo select {
  width: 100%;
  padding: 15px 15px 20px;
  border: none;
  padding: 15px 15px 20px;
  border: none;
  font-style: italic;
}
.contactForm .userInfo #formEmail {
  margin-left: 10px;
}
.contactForm .userInput {
  margin-bottom: 10px;
}
.contactForm .userInput input[type=text],
.contactForm .userInput select {
  width: 100%;
  height: 200px;
  border: none;
  font-style: italic;
  padding-left: 15px;
  padding-bottom: 150px;
}
.contactForm input[type=submit],
.contactForm select {
  border: none;
  background-color: #05AFC1;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  background-color: #2C2C2C;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
footer p {
  font-family: "Roboto";
  color: #F0EFED;
}

@media (max-width: 750px) {
  .desktopMenu {
    display: none;
  }
  .midNav .wrapper .midNavItems li {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .topnav {
    padding-top: 5vh;
  }
  .topnav .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topnav .wrapper button {
    display: block;
  }
  .topnav .wrapper .desktopMenu {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
  }
  .topnav .wrapper .desktopMenu h1 {
    display: none;
  }
  .topnav .wrapper .hamburgerMenu {
    display: block;
  }
  .topnav .wrapper .hamburgerMenu h1 {
    display: none;
  }
  /* Index.html media styles*/
  header .wrapper {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrapper .headerLeft h1 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  header .wrapper .headerLeft h1::before {
    content: url("../assets/circle-text.png");
    position: absolute;
    left: 30%;
    top: 35%;
    width: 200px;
    height: 100px;
  }
  header .wrapper .headerImgContainer {
    width: 100%;
    top: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  header .wrapper .headerImgContainer img {
    width: 25%;
    height: 95%;
  }
  .aboutShort p {
    text-align: justify;
  }
  .blog1 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog1 .wrapper .imgContainer {
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0vh;
    padding-bottom: 5vh;
  }
  .blog1 .wrapper .imgContainer img {
    position: relative;
    width: 80%;
    height: 40%;
  }
  .blog1 .wrapper .textContainer {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .blog1 .wrapper .textContainer p {
    text-align: justify;
  }
  .blog2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog2 .wrapper .imgContainer {
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0vh;
    padding-bottom: 5vh;
    padding-right: 0px;
  }
  .blog2 .wrapper .imgContainer img {
    position: relative;
    width: 80%;
    height: 40%;
  }
  .blog2 .wrapper .textContainer {
    width: 100%;
    padding-bottom: 5vh;
    padding-right: 0px;
    padding-left: 5vh;
    padding-top: 5vh;
    display: block;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .blog2 .wrapper .textContainer p {
    text-align: justify;
  }
  .midAbout .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
  }
  .midAbout .wrapper .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .midAbout .wrapper .textContainer {
    padding-top: 5vh;
  }
  .midAbout .wrapper .textContainer p {
    text-align: justify;
  }
  .gallery {
    width: 100%;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* page header media styles*/
  .blogHeader, .contactHeader {
    width: 100%;
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogHeader .h1Holder, .contactHeader .h1Holder {
    padding-left: 0px;
  }
  .blogHeader .h1Holder h1, .contactHeader .h1Holder h1 {
    margin-bottom: 0;
    font-size: 50px;
  }
  /* blog.html media styles*/
  .blogContent .blogRight .review1 .wrapper, .blogContent .blogRight .review2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogContent .blogRight .review1 .wrapper .blogImgContainer, .blogContent .blogRight .review2 .wrapper .blogImgContainer {
    padding-bottom: 2vh;
  }
  /*Form media styles*/
  .blogForm .userInfo, .contactForm .userInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogForm .userInfo input[type=text], .blogForm .userInfo select, .contactForm .userInfo input[type=text], .contactForm .userInfo select {
    margin-bottom: 2vh;
  }
  .blogForm .userInfo #formEmail, .contactForm .userInfo #formEmail {
    margin-left: 0;
  }
}
@media (max-width: 1250px) {
  .blogContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContent .blogLeft {
    width: 100%;
  }
  .blogContent .blogLeft .blogAbout .imgContainer img {
    width: 50%;
    height: 95%;
  }
  .blogContent .blogLeft .blogRecent {
    margin-bottom: 2vh;
  }
  .blogContent .blogRight {
    width: 100%;
  }
  .blogContent .blogRight p {
    text-align: justify;
  }
  /*contact.html media styles*/
  .contactContent .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContent .wrapper .contactInfo {
    width: 100%;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
  }
  .contactContent .wrapper .contactInfo .socialMediaIcon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactContent .wrapper .contactForm {
    width: 100%;
    padding-left: 0px;
    margin-left: 0;
  }
}